@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>专题列表</title>
    <link href="~/Resource/Css/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="/Resource/Script/jquery.js"></script>
    <script type="text/javascript" src="~/Resource/Script/ManageJs/showlist.js"></script>
    <script src="~/Resource/Script/My97DatePicker/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="/Resource/Script/jquery.ui/jquery.ui.js" type="text/javascript"></script>
    <link href="/Resource/Script/jquery.ui/jquery.ui.css" rel="stylesheet" />
    <style type="text/css">
        td
        {
            word-break: break-all;
        }

        #page a
        {
            width: 20px;
            height: 20px;
            display: block;
            border: 1px solid black;
            float: right;
            text-align: center;
            margin: 5px;
        }

        #page .checked
        {
            background-color: green;
        }

        tr .bgColor
        {
            background-color: lightgreen;
        }
    </style>
    <script type="text/javascript">
        function Change() {
            $(".sldatafix tr").each(function () {
                // $(this).mousemove(function () { $(this).addClass("bgColor"); })
                // $(this).bind("mousemove", function () {  });
                // $(this).bind("mouseout", function () { $(this).removeClass("bgColor"); })
            })
        }
        $(function () {
            //查询400电话根据400号码或者400短号
            $("#btnSearch").bind("click", function () {
                SelectData("");
            });
        });
        function SelectData(page) {
            var $tbHouseid = $("#tbHouseid").val();
            var $htype = $("#dropType").val();
            $.get("/SpecialSubjecActivity/SpecialSubjecActivityList.do?houseid=" + $tbHouseid +"&htype="+$htype+ "&pageIndex=" + page + "&" + new Date(), function (data) {
                $("#phone400").empty();
                $("#page").empty();
                var $data = $("<tr class='sldatatableheaderfix'><td>专题类型</td><td>房源id</td><td>房源类型</td><td>区县</td><td>商圈</td><td>楼盘名称</td><td>价格</td><td>物业类型</td><td>联系人</td><td>联系电话</td><td>刷新</td><td>删除</td></tr>")
                $("#phone400").append($data);

                var rootdata = eval(data);
                if (rootdata["code"] != "100") {
                    alert("查询异常");
                    return;
                }
                var jsonData = eval(rootdata["entitylist"]);
                if (jsonData == null || jsonData.length <= 0) {
                    var $data = $("<tr> <td colspan='12'>没有数据</td></tr>")
                    $("#phone400").append($data);
                    return;
                }
                var pageCount = (parseInt(rootdata["pagecount"]));

                for (var i = pageCount - 1; i >= 0 ; i--) {
                    if (i + 1 == (parseInt(rootdata["pageindex"]))) {
                        var $data = $("<a key='" + (i + 1) + "' class='checked'>" + (i + 1) + "</a>");
                        $("#page").append($data);
                    }
                    else {
                        var $data = $("<a key='" + (i + 1) + "'>" + (i + 1) + "</a>");
                        $("#page").append($data);
                    }
                }
                for (var i = 0; i < jsonData.length; i++) {
                    var $Ssa_type_desc = jsonData[i]["Ssa_type_desc"];
                    var $Ssa_HouseId = jsonData[i]["Ssa_HouseId"];
                    var $Ssa_houseType = jsonData[i]["Ssa_houseType"];
                    if ($Ssa_houseType == "1") {
                        $Ssa_houseType = "个人";
                    }
                    else if ($Ssa_houseType == "2") {
                        $Ssa_houseType = "经纪人";
                    }
                    else if ($Ssa_houseType == "3") {
                        $Ssa_houseType = "电商";
                    }
                    else if ($Ssa_houseType == "4") {
                        $Ssa_houseType = "电商合租";
                    }
                    var $Ssa_district = jsonData[i]["Ssa_district"];
                    var $Ssa_comarea = jsonData[i]["Ssa_comarea"];
                    var $Ssa_projName = jsonData[i]["Ssa_projName"];
                    var $Ssa_price = jsonData[i]["Ssa_price"];
                    var $Ssa_price_type = jsonData[i]["Ssa_price_type"];
                    var $Ssa_fact_price = jsonData[i]["Ssa_fact_price"];
                    var $Ssa_purpose = (jsonData[i]["Ssa_purpose"]);

                    var $Ssa_link_man = jsonData[i]["Ssa_link_man"];
                    var $Ssa_phone = jsonData[i]["Ssa_phone"];
                    var $Ssa_id = jsonData[i]["Ssa_id"];

                    var $data = $("<tr><td>" + $Ssa_type_desc + "</td><td>" + $Ssa_HouseId + "</td><td>" + $Ssa_houseType + "</td><td>" + $Ssa_district + "</td><td>" + $Ssa_comarea + "</td><td>" + $Ssa_projName + "</td><td>原始价格" + $Ssa_price + "-" + "真实价格" + $Ssa_fact_price + $Ssa_price_type + "</td><td>" + $Ssa_purpose + "</td><td>" + $Ssa_link_man + "</td><td>" + $Ssa_phone + "</td><td  did='" + $Ssa_id + "'><a class='edit' did='" + $Ssa_id + "'>刷新</a></td><td  did='" + $Ssa_id + "'><a class='del' did='" + $Ssa_id + "'>删除</a></td></tr>")

                    //   var $data = $("<tr> <td>" + $channelName + "</td><td>" + $city + "</td><td>" + $andContent + "</td><td>" + $iosContent + "</td><td>" + $andUrl + "--" + $andType + "</td><td>" + $iosUrl + "--" + $iosType + "</td> <td>" + $andTitle + "</td> <td>" + $iosTitle + "</td> <td>" + $andDes + "</td> <td>" + $iosDes + "</td><td>" + $start + "</td><td>" + $end + "</td><td ><a did='" + $id + "'>删除</a></td></tr>");

                    $("#phone400").append($data);
                }
                BindClick();

            })
        }
        function BindClick() {
            Change();
            $("#page a").bind("click", function () {
                SelectData($(this).attr("key"));
            });

            $("#phone400 .edit").bind("click", function () {
                if (confirm("确定刷新？")) {
                    var $id = $(this).attr("did");
                    $.get("/SpecialSubjecActivity/FreshenSpecialSubjecActivity.do?id=" + $id + "&" + new Date(), function (data) {
                        var rootdata = eval(data);
                        if (rootdata["code"] != "100") {
                            alert(rootdata["message"]);
                        }
                        else {
                            alert(rootdata["message"]);
                            $("#btnSearch").click();
                        }
                    });
                }
            });


            $("#phone400 .del").bind("click", function () {
                if (confirm("确定删除？")) {
                    var $id = $(this).attr("did");
                    $.get("/SpecialSubjecActivity/DelSubjecActivity.do?id=" + $id + "&" + new Date(), function (data) {
                        var rootdata = eval(data);
                        if (rootdata["code"] != "100") {
                            alert(rootdata["message"]);
                        }
                        else {
                            alert(rootdata["message"]);
                            $("#btnSearch").click();
                        }
                    });
                }
            });
        }
    </script>
</head>
<body>

    <div class="slshowPart">
        <form method="post" action="">
            房源id<input type="text" id="tbHouseid" name="tbHouseid" value="" />
            专题名称<select id="dropType">
                <option value="1">top10专题</option>
                <option value="2">房管房专题</option>
            </select>
            <input type="button" id="btnSearch" value="查询" />
            <div class="sldatafix">
                <table class="sldatatablefix" id="phone400">
                    <tr class="sldatatableheaderfix">
                        <td>专题类型</td>
                        <td>房源id</td>
                        <td>房源类型</td>
                        <td>区县</td>
                        <td>商圈</td>
                        <td>楼盘名称</td>
                        <td>价格</td>
                        <td>物业类型</td>
                        <td>联系人</td>
                        <td>联系电话</td>
                        <td>刷新</td>
                        <td>删除</td>
                    </tr>
                </table>
                <div id="page"></div>
            </div>
        </form>

    </div>
</body>
</html>
